<% layout('layouts/boilerplate') %> 

<link rel="stylesheet" href="stylesheets/laimesti.css">

<main class="my-auto" id="laimesti">
    <section class="container">


<h1>Visi laimesti</h1>
<p class="fs-4"> 
Dalīts prieks ir <b>dubultprieks</b> ! Iedvesmo citus piedalīties Instagram konkursos, <b>parādot savu laimestu</b>. Pastāsti, ja, saņemot balvu, esi piedzīvojis <b>kuriozu mirkli</b>, vai vienkārši <b>pasakies konkursa organizētājiem</b> par foršo laimestu. Tāpat vari komentēt arī citu iegūtos laimestus.
</p>
    <div>
        <a href="/laimesti/jauns"><b>Pievienot laimestu</b></a>
    </div>



        <% for (let winning of winnings) { %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                      <%if(winning.image.length){%> 
                        <img class="img-fluid" alt="" src="<%=winning.image[0].url%>">
                        <%}else{%> 
                        <img class="img-fluid" alt="" src="https://res.cloudinary.com/dfjnipy1g/image/upload/v1666774976/KaLaimet/ii10olej089skyolkwoi.jpg">
                            <%}%> 
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= winning.brand %> <%= winning.title %> </h5>
                            <p class="card-text"><%= winning.description %></p>

                            <a class="btn btn-primary" href="/laimesti/<%= winning._id %> ">Apskatīt</a>
                        </div>
                    </div>
                </div>
            </div>
        <% } %> 


    </section>
</main>     
