<% layout('layouts/boilerplate') %>

    <link rel="stylesheet" href="/stylesheets/laimesti.css">

    <section class="container">
        <div class="row">
            <h1 class="text-center">Labot laimestu</h1>
            <div class="col-md-6 offset-md-3">
                <div class="card shadow">
                    <div class="card-body">
                <form action="/laimesti/<%= winning._id %>?_method=PUT" method="POST" novalidate class="validated-form"
                    enctype="multipart/form-data" id="winningEditForm">
                    <div class="mb-3"> Obligāti aizpildāmie lauki *
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="title">Laimētais produkts *</label>
                        <input class="form-control" type="text" id="title" name="winning[title]"
                            value="<%= winning.title %> " required>
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="title">Uzņēmums/Zīmols *</label>
                        <input class="form-control" type="text" id="title" name="winning[brand]"
                            value="<%= winning.brand %> " required>
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="description">Apraksts *</label>
                        <textarea class="form-control" type="text" id="description" name="winning[description]"
                            required><%= winning.description %> </textarea>
                    </div>
                    <div class="mb-3">
                        <label for="">Pievienot vairāk bildes (Kopējais bilžu skaits līdz 3 bildēm) *</label>
                        <input class="form-control imageUpload" type="file" id="image" name="image" multiple>
                    </div>
                    <div class="mb-3">
                        <%winning.image.forEach(function(img,i){%>
                            <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
                            <div class="form-check-inline">
                                <input type="checkbox" id="image-<%=i%>" name="deleteImages[]"
                                    value="<%=img.filename%>">
                            </div>
                            <label for="image-<%=i%>">Izdzēst?</label>
                            <%})%>

                    </div>
                    <div class="mb-3">
                        <div class="d-grid">
                        <button class="btn btn-info" id="secondSubmitButton">Atjaunināt laimestu</button>
                    </div>
                    </div>
                </form>
                <a href="/laimesti/<%= winning._id %> ">Atpakaļ uz laimestu</a>
            </div>
        </div>
    </div>
</div>

    </section>

    <script>
        $(function(){
        var maxImageNumber = 3;
        $winningEditForm =$('#winningEditForm'),
        $editUpload = $('#image'),
        $existingImages = $('.form-check-inline').length;
        $imgDeletions = $('.form-check-inline:checked').length;
        $secondSubmitButton = $('#secondSubmitButton');

        $editUpload.on('change',function(){
            var addedImages = $(this)[0].files.length;
            var newTotal = $existingImages-$imgDeletions+addedImages;
            if(newTotal>maxImageNumber){
                alert("Vienam laimestam var pievienot maksimums 3 bildes. Lūdzu, samazini bilžu skaitu.");
                $(this).val('');
                $submitButton.prop('disabled', 'disabled');
            } else{
                $submitButton.prop('disabled', false);
            }
        });
    });

    </script>